@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-thin.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-semibold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-extrabold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-black.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-thin-italic.ttf);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-light-italic.ttf);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-regular-italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-semibold-italic.ttf);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-bold-italic.ttf);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-extrabold-italic.ttf);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proxima-nova-black-italic.ttf);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: "Proxima Nova Condensed";
    src: url(../fonts/proxima-nova-condensed-black.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Proxima Nova Extra Condensed";
    src: url(../fonts/proxima-nova-extra-condensed-black.ttf);
    font-style: normal;
    font-weight: 900;
}
